@import "tailwindcss";

:root {
  --background: #020617; /* bg-slate-950 相当 */
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* アクセントカラーを定義 */
  --color-accent: #165e83;
  --color-accent-light: #2d9ba8; /* グラデーションの相方用 */  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
